In [ ]:
!pip install pandas

In [ ]:
import pandas as pd

In [ ]:
dataset = pd.read_csv(r"../Data/airlines_flights_data.csv")
dataset.head()

to find the size of the dataset

In [ ]:
dataset.shape

Find the null value in the dataset

In [ ]:
dataset.isnull().sum()

to have the pattern understanding we would be converting it to percentage null values, to find which content we want to keep and which we want to discard

shape[0] gives the number of rows in the dataset, shape[1] gives the number of columns.

In [ ]:
dataset.isnull().sum()/dataset.shape[0]*100

to find the total number of null values we use dataset.isnull().sum().sum()
To find the percentage of null values overall (dataset.isnull().sum().sum()/(dataset.shape[0]*dataset.shape[1]))*100

In [ ]:
(dataset.isnull().sum().sum()/(dataset.shape[0]*dataset.shape[1]))*100

how many not null vlaues are present in the data set

in each column

In [ ]:
dataset.notnull().sum()

overall null vlaue

In [ ]:
dataset.notnull().sum().sum()

To make graph of the not null values we would be importing seaborn, and from matplotlib we would be importing pyplot

In [ ]:
!pip install seaborn
!pip install matplotlib

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
sns.heatmap(dataset.isnull())
plt.show()

now we have to see how we would be discarding the data that has missing values, if the total missing value is more than 50 % then there is no point in using that data as the nature identification of that data would be difficult. if its less than 50% we can consider the data.

But we want to have a certain columns with less than 50 % then we have to add the missing value

now we would be looking how we can delete the data thats not required

there are two ways delete, delete the column itself or delte that particular row, we can even add the data data as well

This will remove the column from the exisitng dataset, it wont be creating new dataset

In [ ]:
dataset.drop(columns=["arrival_time"],inplace=True)

if we want to delte a row that has null values then we use dropna which removes all the NA values, inplace when set to True it means that the changes has to be done in the same dataset rather than creating a new set of data.

In [ ]:
dataset.dropna(inplace=True)

now we would be seeing how to fill the data if our data is categorical
first we have to find the data types of the dataset before filling the missing data, because we cannot just add any data to it.

In [ ]:
dataset = pd.read_csv("../Data/airlines_flights_data.csv")

In [ ]:
dataset

In [ ]:
dataset.isnull().sum()

we fill data using the fillna("the value to be added") method and head(number of rows to display) is used for displaying the data upto certain number

In [ ]:
dataset.fillna(10)

we see above that irrespective of datatype of the column the fillna fills the same value we would see another approach where we would see the datatype mostly the object data type which is a stream data type also called as categorical data type.

we have two approach backward filling and forward filled.

backward filling : in this we would be filling the data from down where the below data is filled in the next upper na field

forward filling: in this we would be filling the data from the up where the upper data is filled in the below row

.info() tells me which data is categorical and which is numeric data

In [ ]:
dataset.info()

basically in the same method fillna we would add a parameter method="ffill" for forward filling and method="bfill" for backward filling

if axis = 1 then its column wise data filling and if axis=0 then row wise data filling

In [ ]:
dataset.fillna(method="bfill",axis=1)

another appraoch is mode filling, wherein we find out the most repeated data and then in the missing place we add that particular data
mode can be found out a particular column only

calculating the mode of the data set

In [ ]:
dataset["duration"].mode()[0]

In [ ]:
dataset["duration"].fillna(dataset["duration"].mode()[0],inplace=True)

In [ ]:
dataset

if we want to add the data to all the NA object fields then we would use this approach.

first we will find out all object type data types

In [ ]:
dataset.select_dtypes(include="object")

In [ ]:
dataset.select_dtypes(include="object").isnull().sum()

In [ ]:
for i in dataset.select_dtypes(include="object").isnull().columns:
    dataset[i].fillna(dataset[i].mode()[0],inplace=True)